body { 
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  background-image: URL("school.jpg");
}

header { 
  box-sizing: border-box;
  padding: 2em 1em;
  background-image: URL("Blue-header.jpg");
} 

header h1 {
  color: white;
  font-family: Georgia, serif;
  font-size: 2.5em;
  font-variant: small-caps;
  text-align: center;
  font-style: oblique;
}
nav { 
  background-color: maroon;
  box-sizing: border-box;
  font-size: .9em;
  
} 

nav ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li { 
  border-top: 1px solid white;
  padding: .6em;
}


nav {
  font-size: 1em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li {
  border-top: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
nav li {
  text-align: center;
}
nav ul li {
font-style: initial;
font-weight: 900;
font-size: 6mm;
}

